#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Game;BoardGame;
Comment[en_US]=Mastermind Clone With Built-in Solver
Comment=
Exec=codebreak %F
Icon=codebreak.png
MimeType=
Name[en_US]=CodeBreak
Name[fa_IR]=کدشکن
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.3
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
