#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Game;BoardGame;
Comment[en_US]=
Comment=
Exec=codebreak %F
GenericName[en_US]=Mastermind Game
GenericName=Mastermind Game
Icon=codebreak.png
MimeType=
Name[en_US]=CodeBreak
Name=CodeBreak
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.1
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
