#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Game;BoardGame;
Comment=Mastermind Game
comment[fa]=بازی فکر بکر
Exec=qtmind %F
GenericName=Mastermind Game
Icon=/usr/share/pixmaps/qtmind.png
MimeType=
Name=QtMind
Name[fa]=فکر بکر
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.3
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
