#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Game;BoardGame;
Comment=Mastermind Game
comment[fa]=بازی فکر بکر
Exec=QtMind %F
GenericName=Mastermind Game
Icon=/usr/share/pixmaps/QtMind.png
MimeType=
Name=QtMind
Name[fa]=کیوت‌مایند
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.6.1
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
