/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	color: #576973;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color: #fff;
	background-image: url(images/templatemo_body_repeat.jpg);
	background-repeat: repeat-x;
	background-position: top
}

#background {
	width: 100%;
	background: url(images/templatemo_body_center.jpg) center top no-repeat;
	background-attachment:fixed
}

a, a:link, a:visited { color: #354954; font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; border: 5px solid #fff }
em { color: #000 }
blockquote { font-style: italic; margin: 0 0 20px 0}

cite { font-weight: bold; color:#354954; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #576973; }

h1, h2, h3, h4, h5, h6 { color: #011517; font-weight: normal; }
h1 { font-size: 36px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.divider { margin-bottom: 40px; padding-bottom: 20px; background: url(images/templatemo_divider.png) repeat-x bottom }

.float_l { float: left }
.float_r { float: right }


.tmo_list { margin: 10px 0 10px 30px; padding: 0; list-style: decimal-leading-zero }
.tmo_list li { color:#576973; margin: 0 0 10px 0; padding: 0 5px 0 0; background: url(images/templatemo_list.png) no-repeat scroll 0 5px  }
.tmo_list li a { color: #576973; font-weight: normal }
.tmo_list li a:hover { color: #576973 }

#templatemo_wrapper {
	width: 982px;
	margin: 0 auto;
}

#templatemo_header {
	padding: 60px 0 10px 30px;
	position: relative;
}

.templatemo_link{
	display: block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: default;
	background: transparent;
}

#templatmeo_menu {
	height: 54px;
	padding: 10px 11px 0;
	background: url(images/templatemo_menu.png)  no-repeat
}

#templatemo_main {
	width: 902px;
	padding: 41px 41px 0;
	background: url(images/templatemo_main.png) repeat-y
}

#templatemo_footer {
	padding: 40px 0 20px;
	text-align: center;
	background: url(images/templatemo_footer.png) no-repeat top center
}

#site_title { display: block; width: 260px; }
#site_title a { display: block; width: 260px; height: 60px; text-indent: -10000px; background: url(images/templatemo_logo.png) no-repeat }

#templatmeo_menu ul { margin: 0; padding: 0; list-style: none }
#templatmeo_menu ul li { margin: 0; padding: 0 2px 0 0; display: block; float: left; background: url(images/templatemo_menu_divider.png) center right no-repeat }
#templatmeo_menu ul li a { display: block; padding: 0 0 0 45px; margin: 0 30px; height: 54px; line-height: 52px; font-size: 14px; text-shadow: 0 1px 1px #d1feff; font-weight: 700; background-repeat: no-repeat; background-position: 0 10px; }
#templatmeo_menu ul li a:hover { text-decoration: none; text-shadow: 0 1px 1px #237072 }

#templatmeo_menu ul li a.home { background-image: url(images/home.png) }
#templatmeo_menu ul li a.about { background-image: url(images/about.png) }
#templatmeo_menu ul li a.portfolio { background-image: url(images/portfolio.png) }
#templatmeo_menu ul li a.services { background-image: url(images/services.png) }
#templatmeo_menu ul li a.contact {  background-image: url(images/contact.png) }

.main_box { min-height: 600px; padding-bottom: 30px }

.img_float_l { float: left; margin: 3px 30px 5px 0 }
.img_float_r { float: right; margin: 3px 0 5px 30px } 

#gallery { margin: 0; padding: 0; list-style: none }
#gallery li { margin: 0; padding: 0; }
#gallery li a { display: block; float: left; margin: 0 5px 5px 0; }
#gallery li a.no_margin_right { margin-right: 0 }

#services h3 { margin-bottom: 30px }
#services p { margin-bottom: 30px }

#contact_form { padding: 0; width: 380px }
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field {
	width: 380px;
	padding: 3px;
	color: #036;
	border: 1px solid #669;
	background: #f2f2f9;
}

#contact_form form label { display: block; font-size: 12px; color: #036; margin-bottom: 4px; }

#contact_form form textarea { 
	width: 380px; 
	height: 150px; 
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	color: #036; 
	border: 1px solid #669;
	background: #f2f2f9;
}

#contact_form form .submit_btn { 
	font-size: 12px; 
	background: #BBCCEE; 
	color: #036; 
	cursor: pointer; 
	border: 1px solid #669; 
	padding: 5px 10px;
	margin: 0px;
}

.twitter_post { margin: 0; padding: 0; list-style: none }
.twitter_post li { margin: 0 0 20px }

.main_bottom { clear: both; margin-top: 40px; width: 100%; height: 45px; background: url(images/main_bottom.png) repeat-x bottom; text-align: center }
.main_bottom a { display: block; width: 39px; height: 41px; margin: 0 auto; background: url(images/go_to_top.png) }

.col { float: left; margin-right: 30px }
.col_12 { width: 430px }
.col_13 { width: 280px }
.col_23 { width: 590px }

.no_margin_right { margin-right: 0 }