
body {
	background-color: #8C8C8C;
}

p {
    line-height: 1.4;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
    margin: .25ex 12pt;
	padding: 10px 0;
}

h2 {
    font-size: 130%;
}

a {
    text-decoration: none;
    color: #f80;
}

a:hover {
   text-decoration: underline;
}

.clear {
    margin: 0;
    padding: 0;
    clear: both;
}

img.img-right {
    display: block;
    float: right;
    border: solid 2px #555;
    padding: 2px;
    margin: 3px 6pt 3px 5px;
}

img{
	display: block;
/*    border: solid 2px #555;*/
    padding: 2px;
    margin: 3px 6pt 3px 5px;
	draggable: false;
}

/* figure */

figure {
    border: solid 2px #555;
    padding: 2px;
    margin: 3px 5px 3px 12pt;
    background-color: #eed;
}

figure.left {
    float: left;
}

figure.right {
    float: right;
}

figure img {
    display: block;
}

figcaption {
    font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
    font-size: 75%;
    text-align: center;
    padding: 5pt 0;
	margin: 5px 0;
}

pre{
	direction: ltr;
	text-align: left;
	font-size:	90%;	
	color: #eee;
	background-color: #404040;
	padding: 10px 15px;
	margin: 15px 70px;
	
}

form{
	display: inline;
}

/* nav */

nav#top-menu {
    width: 100%;
    height: 34px;
	background-color: #333;
    margin: 0;
    padding: 0;
}

#top-menu ul {
    display: block;
    list-style-type: none;
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

#top-menu ul li {
    margin: 0;
    padding: 0;
}
#top-menu ul li a {
    display: block;
    float: left;
    max-height: 25px;
    width: 200px;
    margin: 0;
    padding: 7px 0;
    font-family:  Droid Naskh Shift Alt, tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
	background-color: #333;
    text-decoration: none;
    color: #ccc;
/*	border-bottom: #333 solid 2px;*/
}
#top-menu ul li a:hover, #top-menu ul li a.current{ 
	color: #000;
	background-color: #aaa;
}

/* header */

header h1, h2 {
	font-family: Droid Arabic Kufi;
	margin-top: 0;
	padding: 5px 0;
	text-align: center;
}

header p {
    font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 85%;
    margin: .25ex 12pt;
}

/* maindiv */

#maindiv {
    width: 900px;
    margin: 0 auto;
	background-color: #ddd;
	padding: 20px;
/*	line-height: 1.2;*/
}
#maindiv p{
	font-size: 80%;
}

#maindiv img{
	display: block;
	margin: 0 auto;
}
/* article */

section.buy, article {
    width: 625px;
    margin-right: 10px;
    float: left;
}

article h1 {
    font-size: 110%;
    margin-top: 12pt;
    margin-bottom: 0;
    padding-top: 3pt;
    border-top: 4px solid #a60;
}

article p {
    font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
}

article mark {
    background-color: #fd0;
}

/* aside */

aside.about {
    float: right;
    width: 248px;
    background-color: #da1;
    margin: 3pt 6pt 3pt 6pt;
    padding: 6pt 0;
}

aside h1 { font-size: 110%; }
aside h2 { font-size: 95%; }
aside p {
    margin: 0 12pt;
    font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
    font-style: italic;
    font-size: 85%;
}

aside section h1 {
    padding-top: 3pt;
    border-top: 4px solid #fd0;
}

aside header p {
    font-size: 85%;
}

aside section {
    padding: 5px 0;
}

/* footer */

footer {
    background: #333;
}

footer p {
    color: #ccc;
    font-size: 70%;
    font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

