
/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* setup body */
body, p {
    line-height: 1;
	font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
    font-size: 12pt;
}

/* reasonable starting margins */
p, h1, h2, h3, h4, h5, h6, ol, ul, li { margin: 12pt; }
li { margin-left: 2em; }

/* setup headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
	font-family: Droid Naskh Shift Alt, tahoma, sans-serif;
    font-weight: bold;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

/* setup pre */
pre { font-family: consolas, monospace; }

